.wrapper{
    width: 80%;
    background-color: #D4B996FF;
    margin: 100px auto;
    display: flex;
    padding: 1rem 2rem;
    /* background-image: url('/src/assets/images/books.avif');  */
    background-size: cover;
}

