.fontAwsome-icon {
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #81d4fa;
  width: 12px;
  height: 12px;
  margin-top: 10px;
  margin-right: 10px;
}
.fontAwsome-icon:hover {
  transform: scale(1.1);
  color: #f4f4f4;
}
