/* background-image: url("https://images.unsplash.com/photo-1687158369081-d21985127d0b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"); */

.Styled-register-text {
  text-align: center;
  font-style: italic;
  color: blue;
  margin-top: 15px;
  text-shadow: 5px 5px 8px red;
  font-size: 50px;
}
.Styled-Sign-up-text {
  text-align: Center;
}

h5 {
  color: #555;
  margin-bottom: 1rem;
}
